<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="module/admin-header :: header">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:title="${title}">Document</title>

</head>
<body>
<div id="wrapper">

    <nav th:replace="~{module/admin-header :: meun}"></nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1>博客列表</h1>
                <ol class="breadcrumb">
                    <li><a href="/admin/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="active"><i class="fa fa-list"></i> 博客列表</li>
                </ol>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号<i class="fa"></i></th>
                            <th>标题<i class="fa"></i></th>
                            <th>标签<i class="fa "></i></th>
                            <th>日期<i class="fa fa-sort"></i></th>
                            <th>操作<i class="fa "></i></th>
                        </tr>
                        </thead>
                        <tbody th:each="blog,blogStat : ${blogs.getContent()}">
                        <tr>
                            <!--#liClass($velocityCount)-->
                            <td th:text="${blogStat.index + 1}"></td>
                            <td ><a th:href="@{'/admin/blog/' + ${blog.id}}" th:text="${blog.title}"></a></td>
                            <td th:text="${blog.tags}"></td>
                            <td th:text="${blog.date}"></td>
                            <td>
                                <a th:href="@{'/admin/blog/' + ${blog.id}}"><i class="fa fa-pencil"></i></a>

                                <!--<span class="delete" data-title="删除博客!" data-confirm-button="确定"><i class="fa fa-trash-o"></i></span>&emsp;-->
                                <a class="delete" role="button" href="javascript:void(0)"
                                   data-title="删除博客!" data-confirm-button="确定">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pager">

                            <li th:if="${blogs.hasPrevious()}" class="previous">
                                <a th:href="@{'/admin/listBlog?pageIndex=' + ${blogs.getNumber() - 1}  + '&pageSize=' + ${blogs.getSize()}}">
                                    <span aria-hidden="true">&larr;</span> 上一页
                                </a>
                            </li>
                            <li th:unless="${blogs.hasPrevious()}" class="previous disabled">
                                <a href="#">
                                    <span aria-hidden="true">&larr;</span> 上一页
                                </a>
                            </li>

                            <li th:if="${blogs.hasNext()}" class="next">
                                <a th:href="@{'/admin/listBlog?pageIndex=' + ${blogs.getNumber() + 1}  + '&pageSize=' + ${blogs.getSize()} }">
                                    下一页<span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                            <li th:unless="${blogs.hasNext()}" class="next disabled">
                                <a href="#">
                                    下一页<span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->
<!-- JavaScript -->
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.confirm.min.js"></script>
<script type="text/javascript">
    $(".delete").confirm();


</script>
</body>
</html>