<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="module/admin-header :: header">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:title="${title}">Document</title>

</head>
<body>
<div id="wrapper">

    <nav th:replace="~{module/admin-header :: meun}"></nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1>博客列表</h1>
                <ol class="breadcrumb">
                    <li><a href="/admin/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                    <li class="active"><i class="fa fa-table"></i>Blogs</li>
                </ol>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Blog<i class="fa fa-sort"></i></th>
                            <th>Tags<i class="fa fa-sort"></i></th>
                            <th>Operation<i class="fa fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody th:each="blog : ${blogs.list}">
                        <tr>
                            <!--#liClass($velocityCount)-->
                            <td th:text="${blog.title}"></td>
                            <td th:text="${blog.tags}"></td>
                            <td>
                                <a th:href="@{'/admin/update/' + ${blog.id}}"><i class="fa fa-pencil"></i></a>
                                <a class="delete" role="button" th:href="@{'/admin/delete/' + ${blog.id}}"
                                   data-title="Delete this blog!" data-confirm-button="Yes">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->
<!-- JavaScript -->
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.confirm.min.js"></script>
<script type="text/javascript">
    $(".delete").confirm();


</script>
</body>
</html>