<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="module/admin-header :: header">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:title="${title}">Document</title>

</head>
<body>
<div id="wrapper">

    <nav th:replace="~{module/admin-header :: meun}"></nav>

    <div id="page-wrapper" class="container">
        <div class="row v-row-center">
            <div class="col-md-10 col-xs-6">
                <h1>资源</h1>
            </div>
            <div class="col-md-2 col-xs-4">
                <button class="btn btn-default btn-lg" id="add_resource">
                    <i class="fa fa-plus"></i> <span class="network-name">添加资源</span>
                </button>
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/admin/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="active"><i class="fa fa-table"></i> 资源列表</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover" style="margin-bottom: 10px;">
                        <thead>
                        <tr>
                            <th>序号<i class="fa"></i></th>
                            <th>资源名<i class="fa"></i></th>
                            <th>类型<i class="fa "></i></th>
                            <th>状态<i class="fa"></i></th>
                            <th>地址<i class="fa"></i></th>
                            <th>文件名<i class="fa"></i></th>
                            <th>描述<i class="fa fa-sort"></i></th>
                            <th>操作<i class="fa "></i></th>
                        </tr>
                        </thead>
                        <!--<tbody th:each="project,projectStat : ${projects.getContent()}">
                        <tr>
                            <td th:text="${projectStat.index + 1}"></td>
                            <td><a th:href="@{'/admin/update/' + ${project.id}}" th:text="${project.name}"></a></td>
                            <td><span  th:text="${project.description}"></span></td>
                            <td th:text="${project.tech}"></td>
                            <td><a th:href="${project.url}" th:text="${project.url}"></a></td>
                            <td th:text="${project.date}"></td>
                            <td>
                                <a href="javascript:void(0)"><i class="fa fa-pencil upd_project" th:name="${project.id}"></i></a>
                                &lt;!&ndash;<span class="delete" data-title="删除博客!" data-confirm-button="确定"><i class="fa fa-trash-o"></i></span>&emsp;&ndash;&gt;
                                <a class="delete" role="button" th:href="@{'/admin/project/' + ${project.id}}"
                                   data-title="删除项目!" data-confirm-button="确定" data-method="delete">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>-->
                    </table>
                </div>
                <!--<nav th:replace="~{module/page :: page(${projects}, 'project')}"></nav>-->
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/static/js/jquery.confirm.min.js"></script>
<script src="/static/js/qyxz-form.min.js"></script>
<script type="text/javascript">
    $(".delete").confirm();

    //触发隐藏的file表单
    function makeThisfile() {
        $('#file').click();
    }

    //file表单选中文件时,让file表单的val展示到showname这个展示框
    $('#file').change(function () {
        debugger;
        console.log($('#showname'));
        $('#showname').val('111')
    })

</script>
</body>
</html>