<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="module/header :: header">
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>

</head>

<body>
<nav th:replace="~{module/header :: nav}"></nav>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">技术</h2>
                <p class="lead">They are three programming languages those i use most,and scala is my favorite</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" th:src="@{~/img/ipad.png}" src="/static/img/ipad.png" alt=""/>
            </div>
        </div>

    </div>
</div>
<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">爱好</h2>
                <p class="lead">The reason why i become a programmer just because i like it,rather than for living</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/img/dog.png" alt=""/>
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">发展</h2>
                <p class="lead">I never refuse new things. for example,I use gradle instead of maven or ant,because I think gradle is better</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/img/phones.png" alt=""/>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{module/footer :: footer}"></div>
</body>
</html>