<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="module/header :: header">
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>

</head>

<body>
<nav th:replace="~{module/header :: nav}"></nav>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="clearfix"></div>
                <!--<h2 class="section-heading">技术</h2>-->
                <p class="lead">相信技术的力量</p>
                <img class="img-responsive" th:src="@{~/static/svg/technology.svg}" src="/static/svg/technology.svg" alt="" style="margin: 0 auto;"/>

            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="clearfix"></div>
                <!--<h2 class="section-heading">技术</h2>-->
                <p class="lead">技术更迭推陈出新</p>
                <img class="img-responsive" th:src="@{~/static/svg/development.svg}" src="/static/svg/development.svg" alt="" style="margin: 0 auto;"/>

            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="clearfix"></div>
                <!--<h2 class="section-heading">技术</h2>-->
                <p class="lead">未来可期</p>

                <img class="img-responsive" th:src="@{~/static/svg/future.svg}" src="/static/svg/future.svg" alt="" style="margin: 0 auto;"/>

            </div>
        </div>

    </div>
</div>
<!--<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                &lt;!&ndash;<h2 class="section-heading">发展</h2>&ndash;&gt;
                <p class="lead">技术更迭推陈出新</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" th:src="@{~/static/svg/development.svg}" src="/static/svg/development.svg" alt="" style="margin: 0 auto;"/>

            </div>
        </div>
    </div>
</div>
-->
<div class="content-section-a">
    <div class="container">

        <div class="row">
            <article>
                <!--<header><h3>Hibernate 封装一个可变字段查询方法</h3></header>-->
            </article>
        </div>
    </div>
</div>

<div th:replace="~{module/footer :: footer}"></div>
</body>
<script>
    $(function () {
        $('.intro-header').css('background-image', 'url("../../static/img/intro-bg.jpg")')
    })
</script>
</html>