<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="module/header :: header">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:title="${title}">Document</title>

</head>
<body>
<nav th:replace="~{module/header :: nav}"></nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12 post">
            <div class="editormd-preview" id="md-container">
                <div class="markdown-body editormd-preview-container" previewcontainer="true" style="padding: 20px;" th:each="project : ${projects}">
                    <h2>
                        <a class="reference-link"></a>
                        <span class="header-link octicon octicon-link"></span>
                        <a th:href="${project.url}" title="" th:text="${project.name}" target="_blank"></a></h2>
                    <ul>
                        <li>
                            <strong>更新时间&nbsp;:&nbsp;</strong><span th:text="${project.date}"></span></li>
                        <li>
                            <strong>技术类型&nbsp;:&nbsp;</strong><span th:text="${project.tech}"></span></li>
                        <li>
                            <blockquote>
                                <p><span th:text="${project.description}"></span></p>
                            </blockquote>
                        </li>
                    </ul>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{module/footer :: footer}"></div>
</body>
</html>