<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="module/header :: header">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:title="${title}">Document</title>

</head>
<body>
<nav th:replace="~{module/header :: nav}"></nav>


<div class="container">
    <div class="row">
        <div class="col-lg-12 post">
            <ul class="tags">
                <li th:each="tag : ${tags}">
                    <a class="default-tag" th:href="@{'/blog/' + ${tag.tagName}}"><span th:text="${tag.tagName}"> </span></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div th:replace="~{module/footer :: footer}"></div>
</body>
<script>
    $(function () {
        $('.intro-header').css('background-image','url("../../static/img/intro-tag.jpg")')
    })
</script>
</html>