<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${title}">青云小栈</title>
    <link rel="shortcut icon" th:href="@{~/static/favicon.ico}"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{~/static/css/landing-page.min.css}" href="/static/css/landing-page.min.css" rel="stylesheet"
          type="text/css"
          id="theme-css"/>
    <link th:href="@{~/static/css/qyxz-md.min.css}" href="/static/css/qyxz-md.min.css" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{~/static/css/qyxz-scroll.css}" href="/static/css/qyxz-scroll.css" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{~/static/css/top.css}" href="/static/css/top.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css"/>
</head>
<script type="text/javascript">
    function switch_theme_css() {
        var css = document.getElementById("theme-css");
        if (localStorage.blog_theme === undefined) {
            localStorage.blog_theme = "light";
        }
        if (localStorage.blog_theme === "dark") {
            css.href = "/static/css/landing-page-dark.min.css";
        }
    }

    switch_theme_css();
</script>

<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">
                    <!--<img th:src="@{~/static/svg/qyxz.svg}" alt="" height="170%">-->
                    首页
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <div>
                   <form class="navbar-form navbar-left">
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="查询">
                       </div>
                       <button type="submit" class="btn btn-default"><i class="fa fa-search "></i></button>
                   </form>
               </div>
                <ul class="nav navbar-nav navbar-right myBar">
                    <li>
                        <a href="/archives/1">归档</a>
                    </li>
                    <li>
                        <a href="/tags">标签</a>
                    </li>
                    <li>
                        <a href="/projects">项目</a>
                    </li>
                    <li>
                        <a href="/resources">资源</a>
                    </li>
                    <!-- <li>
                         <a href="/admin/">Admin</a>
                     </li>-->
                    <!-- <li>
                         <a href='javascript:void(0)' onclick="day_night()"><i class="fa fa-moon-o" id="day-night"></i>
                             <span class="network-name" id="day-night-name">夜</span>
                         </a>
                     </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1><span th:text="${info?.Username}"></span></h1>
                        <h3>my blog about programming</h3>
                        <hr class="intro-divider"/>
                        <ul class="list-inline intro-social-buttons">
                            <!--<li>
                                <a href="mailto:$!{info.Email}" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                            </li>-->
                            <li>
                                <a th:href="'https://github.com/yuanqingx'" target="_blank"
                                   class="btn btn-default btn-lg"><i
                                        class="fa fa-github fa-fw"></i>
                                    <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/yuanqing-xie-5423aa170/" target="_blank"
                                   class="btn btn-default btn-lg"><i
                                        class="fa fa-linkedin fa-fw"></i> <span
                                        class="network-name">Linked in</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#content" id="blog_content"></a>
    <span id="toTop" class="toTop"></span>
    <script type="text/javascript" th:src="@{~/static/js/top.js}" src="/static/js/top.js"></script>
    <script>
        // ie7 下传入元素 ie8 及以上可以传入选择符字符串
        var topElement = document.getElementById("toTop");
        var toTop = new ScrollToTop(topElement, {
            showWhen: 200,
            speed: 50
        })
    </script>
</div>

</body>

</html>
